body
{
    padding: 30px;
}

.contenedor
{
    display: flex; 
    
    column-gap: 10px;
    row-gap: 10px;

    align-items: center; 
    justify-content: center;

    grid-template-columns: auto;
    text-align: center;

    margin-bottom: 30px;
}

.contenedor[name="contenedorBuscarAvanzado"]
{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto 300px auto;
    max-width: 1300px;
}

.contenedor[name="contenedorBuscarAvanzado"] > div
{
    min-width: 100px;
    text-align: left;
    font-size: 13px;
    height: 40px;
}

.contenedor[name="contenedorBuscarAvanzado"] > div > input
{
    width: 100%;
}

.info
{
    font-size: 11px;
}

#texto
{
    background: #FFFFFF;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#texto > img
{
    width: 20px;
}

#texto > img[name="imgSearch"]
{
    margin: 10px 0px 10px 15px;
}

#texto > img[name="imgCamera"]
{
    margin: 10px 15px 10px 0px;
}        

#texto > input
{
    width: 500px;
    max-width: 584px;
    border: 0;
}

#texto > button
{
    border: none; 
    background: transparent;
}

#menu
{
    text-align: right;
}        

#logo
{
    text-align: center;
    margin-top: 210px;
    margin-bottom: 30px;
}

#logo > span
{
    position: relative; 
    top: 40px;
    right: 60px; 
    color: #4285f4; 
    font-size: 16px; 
    font-family: roboto-regular, arial, sans-serif;
}

#logo > img[name="imgBuscarImagenes"]
{
    margin-left: 75px;
}

#idiomas
{
    text-align: center;
    font-size: small;
    font-family: arial, sans-serif;
    line-height: 28px;
}

.btnBuscar
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

#subMenu > span
{
    text-align: left;
    font-size: 20px;
    color: #d93025;

}

#btnBuscarAvanzado
{
    color: #FFFFFF;
    box-shadow: none; 
    background-color: #4d90fe; 
    border: 1px solid #3079ed; 
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    font-size: 11px;
    min-width: 120px;
    height: 30px;
}


